<div class="split left  ">
    
    <a href="home" class="uk-button  "><i  style="  color:#479599; " class="far fa-arrow-alt-circle-left fa-2x"></i></a>
    <div class="  centered ">
       
        <div class="uk-margin" style="     margin-bottom: 50px; color:#479599;  text-align: center;">
        <i class="fas fa-user fa-7x"></i><span style="  color:#479599;  margin-left: 13px;"> Hi there !</span>
      </div>
        <form>
            <fieldset class="uk-fieldset">
         
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Email</label>
                    <input class="uk-input" type="text"  >
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Password</label>
                    <input class="uk-input" type="text"  >
                </div>
         
            </fieldset>
            <div class=" " style=" margin-top: 50px; ">
            <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Button</button>
          </div>
        </form> 
    
    
    
    </div>
  </div>
  
  
  <div class="split right " >
 
  </div>
  
  
  